{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {% endblock %}

<style>
{% block style %}
.text-aling-center{
    text-align: center;
}

{% endblock %}
</style>



{% block jumbotron %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <h1>Try Django 1.8</h1>
            <!-- <h1>Navbar example</h1> -->
            <p>
                This example is a quick exercise to illustrate how the default, static navbar
                and fixed to top navbar work. It includes the responsive CSS and HTML, so it
                also adapts to your viewport and device.
            </p>
            <p>
                <a class="btn btn-lg btn-primary" href="" role="button">Join us&raquo;</a>
            </p>
        </div>
        <div class="col-sm-6" style="background-color: black; height: 300px">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3 pull-right">
        <p class="lead text-aling-center">{{ title }}</p>

        <form method="POST" action="">{% csrf_token %}
            {{ form|crispy }}
            <input class='btn btn-primary' type="submit" value="Sing Up" />
        </form>
    </div>
    <div class="col-sm-3 text-aling-center">
        <p>
            Build in with Django &amp; Bootstrap
        </p>
    </div>
    <div class="col-sm-3 text-aling-center">
        <p>
            Build in with Django &amp; Bootstrap
        </p>
    </div>
    <div class="col-sm-3 text-aling-center">
        <p>
            Build in with Django &amp; Bootstrap
        </p>
    </div>
</div>
{% endblock %}
